:root {
    /* color bank */
    --pur:  #361999;
    --db:   #0055FF;
    --blu:  #2694DA;
    --blul: #AFDAE9;
    --dg:   #20947C;
    --mg:   #31E1BD;
    --bg:   #05F4B7;
    --bb:   #000000;
    --b:    #1A1A1A;
    --g:    #3F4244;
    --lg:   #5C5C5C;
    --blw:  #E1F2F7;
    --w:    #F6F6F6;
    --p:    #E85971;
    --pur:  #F4009B;
    --pr:   #EF0D50;
    --r:    #BE2F29;
    --y:    #ECAF44;
}


#alert {
    display:none;
}



/* 
body {
    background-color: #ECAF44;
}
#innerBody {
    background-color: #EF0D50;

}
#topOfScreenContent {
    background-color: var(--mg);

}
#navContainer {
    background-color: bisque;

}
#searchAndHistory {
    background-color: chartreuse;

}
#contentBody {
    background-color: cyan;

}
#currentWeatherBox {
    background-color: red;

}
#currentWeather {
    background-color: green;

}
#forecastWeatherAlertsContainers {
    background-color:yellow;

}
#container1 {
    background-color: var(--g);

}
#container2 {
    background-color: var(--lg);

}
#container3 {
    background-color: var(--g);

}
#container4 {
    background-color: var(--lg);

}
#container5 {
    background-color: var(--g);

}
#container6 {
    background-color: var(--lg);

} */


